<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <staticContent>
      <mimeMap fileExtension=".fbx" mimeType="application/fbx" />
      <mimeMap fileExtension=".ctm" mimeType="application/ctm" />
      <mimeMap fileExtension=".dae" mimeType="application/dae" />
      <mimeMap fileExtension=".babylon" mimeType="application/babylon" />
      <mimeMap fileExtension=".awd" mimeType="application/awd" />
      <mimeMap fileExtension=".ms3d" mimeType="application/ms3d" />
      <mimeMap fileExtension=".3ds" mimeType="application/3ds" />
      <mimeMap fileExtension=".amf" mimeType="application/amf" />
      <mimeMap fileExtension=".3mf" mimeType="application/3mf" />
      <mimeMap fileExtension=".md2" mimeType="application/md2" />
      <mimeMap fileExtension=".pmd" mimeType="application/pmd" />
      <mimeMap fileExtension=".vmd" mimeType="application/vmd" />
      <mimeMap fileExtension=".vpd" mimeType="application/vmd" />
      <mimeMap fileExtension=".pdb" mimeType="application/pdb" />
      <mimeMap fileExtension=".nrrd" mimeType="application/nrrd" />
      <mimeMap fileExtension=".obj" mimeType="application/obj" />
      <mimeMap fileExtension=".pcd" mimeType="application/pcd" />
      <mimeMap fileExtension=".ply" mimeType="application/ply" />
      <mimeMap fileExtension=".blend" mimeType="application/blend" />
      <mimeMap fileExtension=".vtk" mimeType="application/vtk" />
    </staticContent>
  </system.webServer>
</configuration>
